@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

@mixin dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin stylesContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  right: 0px;

  header {
    border: none;
    @include dflex();
    width: 200px;

    .wrapperLanguage {
      position: fixed;
      right: 72px;
      top: 15px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 70px;

      @include animationShowMe;

      .iconLanguage {
        width: 34px;
        height: 36px;
        background-size: contain;
        cursor: pointer;
        // padding-top: 4px;
        // border-radius: 100%;
      }

      .iconFacebook {
        width: 34px;
        cursor: pointer;
      }
    }

    .menuOpen {
      width: 32px;
      height: 32px;
      cursor: pointer;
      margin-top: 18px;
      margin-left: 42px;
      font-size: 32px;
      position: fixed;
      right: 18px;
      top: 0px;

      @include animationShowMe;
    }

    .menuClose {
      display: none;
    }
  }
}

.containerMenuOpen {
  @include stylesContainer();
}

.containerMenuClose {
  width: 100%;
  height: 100%;
  @include stylesContainer();
}

.menuContainer {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
  @include dflex();
  flex-direction: column;
  opacity: 0.8 !important;
  z-index: 999;

  a {
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    height: 50px;
    overflow: hidden;
    font-size: 24px;
    text-transform: uppercase;

    + a {
      margin-top: 2svw;
    }
  }

  .btnClose {
    @include dflex();
    width: 58px;
    height: 58px;
    background: $primaryWhite;
    color: black;
    border-radius: 58px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 18px;
  }
}

// @media (max-width: 1100px) {
//   .menu_container {
//     width: 50%;
//   }
// }

// @media (max-width: 560px) {
//   .menu_container {
//     width: 100%;
//   }
// }
