@import "../../../assets/scss/variables.scss";

.wrapperInfoProducts {
  height: 100%;
  width: 100%;

  .wrapperBtnBack {
    position: relative;

    img {
      width: 80px;
      height: 80px;
      transform: rotate(240deg);
      cursor: pointer;
      transition: transform ease-in 300ms;
      border-radius: 100%;
      margin-left: 32px;

      &:hover {
        transform: rotate(225deg);
      }
    }

    p {
      position: absolute;
      left: 48px;
      top: 30px;
      pointer-events: none;
      color: $primaryWhite;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .wrapperContent {
    text-align: center;
    height: 80%;
    overflow-y: auto;
    border-radius: 4px;
  }
}

@media (max-width: 900px) {
  .wrapperInfoProducts {
    // height: 90%;

    .wrapperBtnBack {
      img {
        margin-top: 54px;
        margin-left: 12px;
      }

      p {
        top: 84px;
        left: 28px;
      }
    }
  }
}
