.wrapperHome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 80%;
  // height: 180%;
  text-align: center;

  .wrapperFirstCard {
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    // flex-wrap: wrap;
    // width: 100%;
    height: 80%;

    .card {
      width: 50%;
      // height: 100%;
      margin: 8px;
      border-radius: 18px;
      background: red;
    }
  }

  p {
    margin-top: 20%;
    font-size: 54px;
  }
}

@media (max-width: 1200px) {
  .wrapperHome {
    height: 80vh !important;
    // overflow-y: scroll;

    .wrapperFirstCard {
      justify-content: space-between;
      justify-content: center;
      flex-wrap: wrap;
      height: 100% !important;
      overflow-y: scroll !important;

      .card {
        height: 50%;
      }
    }
  }
}

@media (max-width: 750px) {
  .wrapperHome {
    height: 80vh !important;
    width: 100%;

    .wrapperFirstCard {
      justify-content: space-between;
      justify-content: center;
      flex-wrap: wrap;
      overflow-y: scroll !important;

      .card {
        width: 60%;
        height: 40%;
      }
    }
  }
}

// .wrapperHome {
//   // position: absolute;
//   // top: 50%;
//   // left: 50%;
//   // transform: translate(-50%, -50%);
//   padding: 10px;
//   width: 100%;
//   height: 100% !important;
//   text-align: center;
//   border: 1px solid red;
//   overflow-y: scroll !important;

//   .wrapperFirstCard {
//     display: flex;
//     // justify-content: space-between;
//     // justify-content: center;
//     // flex-wrap: wrap;
//     // width: 100%;
//     height: 100%;
//     border: 1px solid blue;
//     overflow-y: scroll !important;

//     .card {
//       width: 50%;
//       height: 100%;
//       margin: 8px;
//       border-radius: 18px;
//       border: 1px solid green;
//     }
//   }

//   p {
//     margin-top: 20%;
//     font-size: 54px;
//   }
// }

// @media (max-width: 1200px) {
//   .wrapperHome {
//     .wrapperFirstCard {
//       justify-content: space-between;
//       justify-content: center;
//       flex-wrap: wrap;
//     }
//   }
// }
