@import "./assets/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none;
}

 /* width */
 ::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryGreen;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primaryGreen;
}
