* {
  margin: 0;
  padding: 0;
  // height: 100vh;
  overflow: hidden;
  // box-sizing: border-box;
  // font-family: "Josefin Sans", sans-serif;
  // font-family: "Brown", sans-serif;
  scrollbar-width: none;
}
