* {
  margin: 0;
  padding: 0;
  // height: 100vh;
  overflow: hidden;
  // box-sizing: border-box;
  /* font-family: Courier, Monaco, monospace; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  // font-family: "Brown", sans-serif;
  // font-family: Light,sans-serif;
}



